body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: yellow;
}

.container{
    border: 5px solid black;
    height: 550px;
    width: 450px;
    margin: auto;
    margin-top: 100px;
    background-color: cyan;
}

.display{
    border: 2px solid black;
    height: 100px;
    margin: 10px;
    border-radius: 1em;
    background-color: antiquewhite;
}

.calc{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    height: 400px;
    margin: 10px;
    border-radius: .5em;
    background-color: whitesmoke;
}
button{
    background-color: whitesmoke;
    border: none;
    font-size: 30px;
    color: black;
    
}
button:hover{
    transform: scale(0.8);
    border: 2px solid black;
    
    border-radius: 50%;
}

.section{
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
}
.text{
    font-size: 30px;
    padding: 10px;
}
.result{
    font-size: 30px;
    padding: 5px;
}

